git=false
git-tag-version=false
registry=https://registry.npmjs.org/
strict-ssl=false
always-auth=false
user-agent=npm
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
lockfile-version=3
cache-min=99999999
prefer-offline=true
git-terminal-prompt=false 