<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">숙소 상세 페이지 생성기</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fileDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-file"></i> 파일
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="fileDropdown">
                        <li><a class="dropdown-item" href="#" id="saveBtn"><i class="fas fa-save"></i> 저장</a></li>
                        <li><a class="dropdown-item" href="#" id="loadBtn"><i class="fas fa-folder-open"></i> 불러오기</a></li>
                        <li><a class="dropdown-item" href="#" id="exportBtn"><i class="fas fa-file-export"></i> 내보내기</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test">
                        <i class="fas fa-tools"></i> 테스트 도구
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-light me-2" id="settingsBtn">
                    <i class="fas fa-cog"></i> 설정
                </button>
                <button class="btn btn-outline-light" id="helpBtn">
                    <i class="fas fa-question-circle"></i> 도움말
                </button>
            </div>
        </div>
    </div>
</nav> 